:root {
  --colorPrincipal: #D52349;
  --colorSecundario: #241E20;
  --colorTerceario: #827A7C;
  --colorFuenteSecundaria: #6D6D6D;
  --colorFondo: #F7F7F7;
  --blanco: #fff;
  --negro: #000;
  --colorDerechos: #302C2D;

  --fuentePrincipal: font-family: 'Open Sans', sans-serif;
                      font-family: 'Montserrat', sans-serif;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Globales */

body {
  font-size: 1.6rem;
  line-height: 1.5;
}

p {
  font-size: 1.8rem;
  font-family: 'Montserrat', sans-serif;
  color: var(--colorTerceario);
}

a {
  text-align: none;
  font-size: 1.8rem;;
}

img {
  max-width: 100%;
}

h1, h2, h3 {
  text-align: center;
}

h1 {
  font-family: var(--fuentePrincipal);
  font-size: 4rem;
  font-weight: bold;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

button {
  cursor: pointer;
}

.contenedor {
  background-color: var(--colorFondo);
}

.encabezado {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}

.navegacion {
  display: flex;
  justify-content: center;
}

.navegacion__enlace {
  font-family: var(--fuentePrincipal);
  color: var(--colorTerceario);
  font-size: 2rem;
  margin-right: 2rem;
  margin-bottom: 10rem;
}

.navegacion__enlace--activo,
.navegacion__enlace:hover {
  background-color: var(--colorPrincipal);
  color: #fff;
  padding: .7rem;
  border-radius: .8rem;
  cursor: pointer;
}

.imagen-fondo {
  background-image: url(../images/pic01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-negro {
  background-color: var(--colorSecundario);
  width: 35%;
  height: 40%;
}

.titulo-imagen {
  color: #fff;
}

.subtitulo-imagen {
  color: var(--colorPrincipal);
}

.seccion-inicial {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.seccion-inicial-tabla {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  text-align: center;
}


.icono-tabla {
  width: 20rem;
  height: 20rem;
} 

/* Rayo */
.rayo {
  /* https://www.cssmatic.com/box-shadow */ /* Fuente */
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.seccion-inicial-botones {
  height: 25rem;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.boton-iniciar {
  width: 20%;
  height: 30%;
  background-color: var(--colorPrincipal);
  color: #ffff;
  border-radius: .5rem;
  font-size: 3rem;
  border: none;
}

.boton-aprender {
  width: 20%;
  height: 30%;
  background-color: var(--colorSecundario);
  color: #ffff;
  border-radius: .5rem;
  font-size: 3rem;
  border: none;
}

/* /Portafolio */
.contenedor {
  background-color: var(--colorFondo);
}

.portafolio {
}

.portafolio__contenedor {
  height: 120rem;
  display: grid;
  grid-template-columns: repeat(3, 20%);
  grid-template-rows: repeat(2, 50%);
  gap: 4rem;
  justify-content: center;
}

.portafolio__titulo {
  display: flex;
  justify-content: center;
}

.portafolio__contenido {
  background-color: var(--blanco);
  display: flex;
  flex-direction: column;
}

.portafolio__contenido p,
.portafolio__contenido h3 {
  text-align: start;
  margin-left: 2rem;
}

.portafolio__contenido p {
  margin-top: 0;
}

.portafolio__contenido img {
  width: 100%;
}

.portafolio__boton {
  display: flex;
  justify-content: flex-start;
  align-items: end;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.boton__encontrar {
  background-color: var(--colorSecundario);
  width: 18rem;
  color: #ffff;
  border-radius: .5rem;
  font-size: 1.6rem;
  font-weight: bold;
  border: none;
  padding: 2rem;
}

/* Blog */
.contenedor__seccion--blog {
  height: 50rem;
  /* height: 50rem; */ /* 16/01/2024 */
  margin-top: 8rem;
  margin-bottom: 20rem;
}

.contenedor__blog {
  background-color: var(--colorFondo);
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 30%);
  grid-template-rows: 60rem;
  justify-content: center;
  column-gap: 4rem;
}

.contenido__blog {
  background-color: var(--blanco);
}

.contenido__blog h4,
.contenido__blog p {
  margin-left: 2rem;
  text-align: start;
}

.contenido__blog p {
  font-size: 1.5rem;
}

.boton__blog {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;  
}

.boton__blog--leer {
  width: 20rem;
  background-color: var(--colorPrincipal);
  color: #ffff;
  padding: 1.5rem;
  margin-left: 2rem;
  border-radius: .5rem;
  font-size: 1.7rem;
  font-weight: bold;
  border: none;
}

.boton__blog--comentar {
  width: 18rem;
  background-color: var(--colorSecundario);
  color: #ffff;
  padding: 1.5rem;
  border-radius: .5rem;
  font-size: 1.8rem;
  font-weight: bold;
  border: none;
}

.footer {
  background-color: var(--colorSecundario);
}

.footer__calendario {
  display: grid;
  grid-template-columns: 40% 20%;
  justify-content: center;
}

.footer__calendario--texto {
  color: var(--blanco);
  margin-left: 2rem;
}

.calendario__titulo {
  font-weight: bold;
  text-align: left;
}

/* Footer Encontrar Fuera */
.footer__encontrar--fuera {
  color: var(--blanco);
  display: flex;
  flex-direction: column;
  align-items: self-start;
}

.encontrar__titulo h3{
  text-align: start;
  margin-left: 0;
}

.boton__encontrar--fuera {
  width: 20rem;
  background-color: var(--colorPrincipal);
  color: #ffff;
  padding: 1.5rem;
  border-radius: .5rem;
  font-size: 1.8rem;
  font-weight: bold;
  border: none;
}

/* Footer Columnas */
.footer__columnas {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.footer__columnas--contenido {
  border: .1rem solid green;
}

.footer__columnas--contacto {
  border: .1rem solid blue;
}

.footer__columnas--contenido p,
.footer__columnas--contacto p {
  text-decoration: underline;
  color: var(--blanco);
}

.footer__columnas--contenido,
.footer__columnas--contacto,
.footer__columnas--redes {
  padding: 0 2rem;
}

.footer__columnas--contenido h3,
.footer__columnas--contacto h3,
.footer__columnas--redes h3{
  text-align: start;
  font-size: 2rem;
  font-weight: bold;
  color: var(--blanco);
}

.footer__columnas--redes {
  border: .1rem solid red;
}

/* .footer__contacto {
  
}

.footer__contacto--datos {
  width: 20%;
  display: flex;
  flex-wrap: wrap;
} */

.footer__derechos {
  display: flex;
  justify-content: center;
  margin: 8rem auto auto 2rem;/* 
  padding: 2rem 4rem; */
}

.footer__derechos--texto {
  background-color: var(--colorDerechos);
  display: flex;
  border-radius: 1rem;
  padding: 0 4rem; 
  margin-bottom: 2rem;
}

.footer__derechos--texto p {
  margin-right: 2rem;
  font-size: 1.7rem;
}

.footer__derechos--texto span {
  font-weight: bold;
  text-decoration: underline;
}