:root {
  --colorPrincipal: #D52349;
  --colorSecundario: #241E20;
  --colorTerceario: #827A7C;
  --colorFuenteSecundaria: #6D6D6D;
  --colorFondo: #F7F7F7;
  --blanco: #fff;
  --negro: #000;

  --fuentePrincipal: font-family: 'Open Sans', sans-serif;
                      font-family: 'Montserrat', sans-serif;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Globales */

body {
  font-size: 1.6rem;
  line-height: 1.5;
}

p {
  font-size: 1.8rem;
  font-family: 'Montserrat', sans-serif;
  color: var(--colorTerceario);
}

a {
  text-align: none;
  font-size: 1.8rem;;
}

img {
  max-width: 100%;
}

h1, h2, h3 {
  text-align: center;
}

h1 {
  font-family: var(--fuentePrincipal);
  font-size: 4rem;
  font-weight: bold;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

.contenedor {
  background-color: var(--colorFondo);
}

.encabezado {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}

.navegacion {
  display: flex;
  justify-content: center;
}

.navegacion__enlace {
  font-family: var(--fuentePrincipal);
  color: var(--colorTerceario);
  font-size: 2rem;
  margin-right: 2rem;
  margin-bottom: 10rem;
}

.navegacion__enlace--activo,
.navegacion__enlace:hover {
  background-color: var(--colorPrincipal);
  color: #fff;
  padding: .7rem;
  border-radius: .8rem;
  cursor: pointer;
}

.imagen-fondo {
  background-image: url(../images/pic01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-negro {
  background-color: var(--colorSecundario);
  width: 35%;
  height: 40%;
}

.titulo-imagen {
  color: #fff;
}

.subtitulo-imagen {
  color: var(--colorPrincipal);
}

.seccion-inicial {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.seccion-inicial-tabla {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  text-align: center;
}


.icono-tabla {
  width: 20rem;
  height: 20rem;
} 

.rayo {

}

.seccion-inicial-botones {
  height: 25rem;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.boton-iniciar {
  width: 20%;
  height: 30%;
  background-color: var(--colorPrincipal);
  color: #ffff;
  border-radius: .5rem;
  font-size: 3rem;
  border: none;
}

.boton-aprender {
  width: 20%;
  height: 30%;
  background-color: var(--colorSecundario);
  color: #ffff;
  border-radius: .5rem;
  font-size: 3rem;
  border: none;
}


.portafolio {
}

.portafolio__contenedor {
  height: 120rem;
  display: grid;
  grid-template-columns: repeat(3, 20%);
  grid-template-rows: repeat(2, 50%);
  gap: 4rem;
  justify-content: center;
}

.portafolio__titulo {
  display: flex;
  justify-content: center;
}

.portafolio__contenido {
  background-color: var(--blanco);
  display: flex;
  flex-direction: column;
}

.portafolio__contenido p,
.portafolio__contenido h3 {
  text-align: start;
  margin-left: 2rem;
}

.portafolio__contenido p {
  margin-top: 0;
}

.portafolio__contenido img {
  width: 100%;
}

.portafolio__boton {
  display: flex;
  justify-content: flex-start;
  align-items: end;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.boton__encontrar {
  background-color: var(--colorSecundario);
  color: #ffff;
  border-radius: .5rem;
  font-size: 1.6rem;
  font-weight: bold;
  border: none;
  padding: 2rem;
}

/* Blog */
.contenedor__seccion--blog {
  height: 70rem;
  margin-top: 8rem;
  margin-bottom: 20rem;
}

.contenedor__blog {
  display: grid;
  grid-template-columns: repeat(2, 30%);
  grid-template-rows: 60rem;
  justify-content: center;
  column-gap: 4rem;
}

.contenido__blog {
  background-color: var(--blanco);
}

.contenido__blog h4,
.contenido__blog p {
  margin-left: 2rem;
  text-align: start;
}

.contenido__blog p {
  font-size: 1.5rem;
}

.boton__blog {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.boton__blog--leer {
  /* width: 20%;
  height: 30%; */
  background-color: var(--colorPrincipal);
  color: #ffff;
  padding: 1.5rem;
  margin-left: 2rem;
  border-radius: .5rem;
  font-size: 1.3rem;
  font-weight: bold;
  border: none;
}

.boton__blog--comentar {
  /* width: 20%;
  height: 30%; */
  background-color: var(--colorSecundario);
  color: #ffff;
  padding: 1.5rem;
  border-radius: .5rem;
  font-size: 1.3rem;
  font-weight: bold;
  border: none;
}